@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: 400;
  line-height: 1;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Poppins', sans-serif;
  background: #343541;
  color: #f6f6f6;
}

a {
  display: inline-block;
  text-decoration: none;
  font-family: inherit;
  color: inherit;
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

img {
  width: 100%;
}

input {
  font-family: inherit;
  border: none;
  outline: none;
}
